* {
    box-sizing: border-box;
}

body {
    background-color:whitesmoke;
}

.navbar {
    background-color:grey !important;
    font-size: 16px;
}

.navbar .navbar-brand {
    color: white ;
    font-size: 30px;
}


.container {
    width: 100%;
    margin: 40px; 
}

#mainCard {
    margin-top: 5%;
    margin-left: 15%;
}


h1 {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h2 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.img-thumbnail {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
    margin: 40px;
}

p {
    width: 100%;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: grey;
    color: white;
    text-align: center;
}

.responsive {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: inline-start;
    margin: 20px;   
}

@media screen and (max-width: 800px) {
    body .responsive .form-group {
        background-color:yellowgreen;
    }
}

@media screen and (min-width: 100px) {
    body .img-responsive{
        background-color:yellowgreen;
        margin-top: 10px;
        margin-block: 50px;
    }
}